<div class="cabecalho-lista">
  <div class="container">
    <h2>LISTA GERAL</h2>
  </div>
</div>

 
  
  <h1>Festival Sol Maior!</h1>
  <h3>Curtas</h3>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @shorts.each do |short| %>
        <tr>
          <td><%= link_to (short.name + " - " + short.launch.strftime("%Y")), short %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

