<div class="cabecalho-lista">
  <div class="container">
    <h2>LISTA GERAL</h2>

    <div class="curtas" style="margin-top:30px;">
      <% @shorts.each do |short| %>
        <div class="col-lg-4">
          <%#= main_app.url_for(short.thumbnail) %>
          <%= image_tag(main_app.url_for(short.thumbnail)) %>
          <%#= image_tag(short.thumbnail) %>
          <%= link_to (short.name + " - " + short.launch.strftime("%Y")), short %>
        </div>
      <% end %>
    </div>

  </div>
</div>