
.altura-carrossel{
  height: 100px;
}

.lista{
  margin-top: 20px;
  background-color: #FFCF0B;
  height: 20vh;
}

.programacao{
  margin-top: 20px;
  background-color: #F25A22;
  height: 20vh;
}

.texto-lista{
  background-color:#FFE048 ;
}

.texto-programacao{
  background-color: blue;
}