<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-4 mx-auto">
      <div class="card center-block">
        <div class="avatar center-block">
        </div>
        <h4>ERNESTO LOAIZA</h4>
        <h5>Diretor do festival</h5>
        <br>
        <%# <a href="https://twitter.com/twitter"><i class="fab fa-twitter fa-2x"></i></a> %>
      </div>
    </div>
  </div>
</div>