@import "bootstrap/scss/bootstrap";
//@import "pages/shorts.scss";


body{
  background-color: #FFF0A6;
}

.cover{
  background: image-url('cover.svg');
  //background-size: cover;
  //margin-left: 40px;
  //width: 100%;
  height: 250px;
  padding-left: 150px;
  margin-top: -30px;
  background-position:0% 10%;
  color: black;
}
.cover h1{
  position:absolute ;
  top: 90px;
  left: 30vw;
}

.data-fest{
  position: absolute;
  right: 2vw;
  top: 60px;
  text-align: center;
}

.logo{
  position:absolute;
  left: 2vw;
  top: 20px;
}

// SHORTS.SCSS

.altura-carrossel{
  height: 100px;
}

.lista{
  margin-top: 20px;
  background-color: #FFCF0B;
  height: 20vh;
}

.programacao{
  color: white;
  margin-top: 20px;
  background-color: #F25A22;
  height: 20vh;
}

.texto-lista{
  background-color:#FFE048 ;
}

.texto-programacao{
  color: white;
  background-color: #EF2525;
}