@import "bootstrap/scss/bootstrap";
@font-face {
  font-family: 'League Spartan';
  src: url('fonts/leaguespartan-bold.eot');
  src: url('fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/leaguespartan-bold.woff2') format('woff2'),
       url('fonts/leaguespartan-bold.woff') format('woff'),
       url('fonts/leaguespartan-bold.ttf') format('truetype'),
       url('fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;

}
//@import "pages/shorts.scss";


body{
  background-color: #FFF0A6;
  font-family: 'League Spartan';
  font-weight: bold;
}

.cover{
  background: image-url('cover.svg');
  //background-size: cover;
  //margin-left: 40px;
  //width: 100%;
  height: 250px;
  padding-left: 150px;
  margin-top: -30px;
  background-position:0% 10%;
  color: black;
}
.cover h1{
  position:absolute ;
  font-size: 60px;
  top: 85px;
  left: 20vw;
}

.data-fest{
  position: absolute;
  right: 2vw;
  top: 60px;
  text-align: center;
}

.logo{
  position:absolute;
  left: 2vw;
  top: 20px;
}

// SHORTS.SCSS

.altura-carrossel{
  height: 100px;
}

.lista{
  margin-top: 20px;
  background-color: #FFCF0B;
  height: 20vh;
}

.programacao{
  color: white;
  margin-top: 20px;
  background-color: #F25A22;
  height: 20vh;
}

.texto-lista{
  background-color:#FFE048 ;
}

.texto-programacao{
  color: white;
  background-color: #EF2525;
}

// Shorts index

.cabecalho-lista{
  margin-top: 20px;
  width: 100%;
  background-color: white;
  height: 50px;
}
