@import "bootstrap/scss/bootstrap";
@import "bootstrap-sprockets";
//@import "bootstrap";
@font-face {
  font-family: 'League Spartan';
  src: url('fonts/leaguespartan-bold.eot');
  src: url('fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/leaguespartan-bold.woff2') format('woff2'),
       url('fonts/leaguespartan-bold.woff') format('woff'),
       url('fonts/leaguespartan-bold.ttf') format('truetype'),
       url('fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
//@import "pages/shorts.scss";

nav a{
  color: black;
}

.nav-link{
  color:black
}

body{
  background-color: #FFF0A6;
  font-family: 'League Spartan';
  font-weight: bold;
}

.cover{
  background: image-url('cover.svg');
  //background-size: cover;
  //margin-left: 40px;
  //width: 100%;
  height: 250px;
  padding-left: 150px;
  margin-top: -30px;
  background-position:0% 10%;
  color: black;
}
.cover h1{
  position:absolute ;
  font-size: 60px;
  top: 85px;
  left: 22vw;
}

.data-fest{
  position: absolute;
  right: 2vw;
  top: 60px;
  text-align: center;
}

.logo{
  position:absolute;
  left: 2vw;
  top: 20px;
}

// SHORTS.SCSS

.altura-carrossel{
  height: 100px;
}

.lista{
  margin-top: 20px;
  background-color: #FFCF0B;
  height: 20vh;
}

.programacao{
  color: white;
  margin-top: 20px;
  background-color: #F25A22;
  height: 20vh;
}

.texto-lista{
  background-color:#FFE048 ;
}

.texto-programacao{
  color: white;
  background-color: #EF2525;
}

// Shorts index

.cabecalho-lista{
  margin-top: 20px;
  width: 100%;
  background-color: white;
  height: 70px;
  font-size: 30px;
}

.cabecalho-lista h2{
  padding-top: 20px;
}

// PAGINA DA EQUIPE:
.card{
  border-radius: 15px;
  background-color: #F25A22;
  height: 350px;
  width: 250px;
}

.card h5 {
  opacity: 70%;
}

.center-block {
  margin-left:auto;
  margin-right:auto;
  display:block;
  text-align: center;
}

.avatar{
  margin-top: 20px;
  border-radius: 100%;
  height: 120px;
  width: 120px;
  background-color: white;  
  margin-bottom: 30px;
}